doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Manager Dashboard
    link(rel='stylesheet' href='/css/dash.css')
  body
    .side-menu
      .brand-name
        h1 Happy Hoe
      ul
        li
          a(href='/dashboard/mngdash.html')
            img(src='/images/adm.png' alt='Dashboard Icon')
            span Dashboard
        li
          a(href='/procurement/procurement.html')
            img(src='/images/man.png' alt='Procurement Icon')
            span Procurement
        li
          a(href='/status/status.html')
            img(src='/images/agent.png' alt='Stock Status Icon')
            span Stock Status
        li
          a(href='/index/index.html')
            img(src='/images/logout.png' alt='Log Out Icon')
            span Log Out
    .container
      .header
        .nav
          .user
            a.btn(href='/addProduce') Add Produce
          .user
            a.btn(href='/viewProduce') Produce List
          .user
            a.btn(href='/viewProduce') Update Produce
          .user
            a.btn(href='/stock') Stock Status
          .img-case
            a(href='/')
              img(src='/images/logout.png' alt='Go to Index Page')
      .content
        .cards
          a.card-link(href='/procreport/procreport.html')
            .card
              .box
                h2 Procurement Report
          a.card-link(href='/report/report.html')
            .card
              .box
                h2 Cash Sales Report
          a.card-link(href='/creditreport/credit.html')
            .card
              .box
                h2 Credit Sales Report
        .cards
          a.card-link(href='/procreport/procreport.html')
            .card
              .box
                h2 Procurement Report
          a.card-link(href='/report/report.html')
            .card
              .box
                h2 Cash Sales Report
          a.card-link(href='/creditreport/credit.html')
            .card
              .box
                h2 Credit Sales Report
    script(src='/js/dash.js')
