doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Manager Dashboard
    link(rel='stylesheet' href='/css/dash.css')
  body
    .side-menu
      .brand-name
        h1 Happy Hoe
      ul
        li
          a(href='/dashboard/mngdash.html')
            img(src='/images/adm.png' alt='')
            span Dashboard
        li
          a(href='/procurement/procurement.html')
            img(src='/images/man.png' alt='')
            span Procurement
        li
          a(href='/status/status.html')
            img(src='/images/agent.png' alt='')
            span Stock Status
        li
          a(href='/index/index.html')
            img(src='/images/logout.png' alt='')
            span Log Out
    .container
      .header
        .nav
          //- .search
          //-   input(type='text' placeholder='search..')
          //-   button(type='submit')
          //-     img(src='/images/sach.png' alt='Search Icon')
          .user
            a.btn(href='/addProduce') Add Produce           
          .user
            a.btn(href='/viewProduce') Produce List
          .user
            a.btn(href='/viewProduce') Update Produce
          .user
            a.btn(href='/stock') Stock Status
          .img-case
              a(href='/')
                img(src='/images/logout.png' alt='Go to Index Page')
      .content
        .cards
          a.card-link(href='/procreport/procreport.html')
            .card
              .box
                h2 Procurement Report
          a.card-link(href='/report/report.html')
            .card
              .box
                h2 Cash Sales Report
          a.card-link(href='/creditreport/credit.html')
            .card
              .box
                h2 Credit Sales Report
        .cards
          a.card-link(href='/procreport/procreport.html')
            .card
              .box
                h2 Procurement Report
          a.card-link(href='/report/report.html')
            .card
              .box
                h2 Cash Sales Report
          a.card-link(href='/creditreport/credit.html')
            .card
              .box
                h2 Credit Sales Report




//- doctype html
//- html
//- if user.role === 'salesagent'
//-   head
//-     meta(charset='UTF-8')
//-     meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-     title Dashboard
//-     link(rel='stylesheet' href='/css/dash.css')    
//-   body
//-     nav.navbar(action='/agentdash' method='POST')
//-       .brand
//-         img(src='/img/logo1.png' alt='Logo')
//-         .name Happy Hoe Grocery
//-       .nav-center
//-         span SALES-AGENT'S DASHBOARD  
//-       .nav-items
//-         .dropdown
//-           button Sales
//-           .dropdown-content
//-             a(href='/salesList') View Sales
//-             a(href='/makeSale') Add Sales
//-         .dropdown
//-           button Credit Sales
//-           .dropdown-content
//-             a(href='/creditList') View Debits
//-             a(href='/debit') Add Credit
//-         a(href='/') Logout

//-     br
//-     br
//-     br
//-     br

//-     .card-container
//-       .card
//-         h3 Procurement
//-         p view  
//-         a(href='/produceList') Transactions
//-       .card
//-         h3 Available Stock
//-         p View  |  Edit
//-         a(href='/viewstoc') View Stock
//-       .card
//-         h3 Staff Members
//-         p  Branch A | Branch B 
//-         a(href='/Mlist') Staff Members
//-       .card
//-         h3 Reports
//-         p Daily reports | Weekly reports
//-         a(href='/reports') View Reports

//-     br
//-     br
//-     br
//-     br

//-     footer.footer
//-       p &copy; 2024 My Website. All rights reserved.

//-     script(src='/js/dash.js')