doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title ADMIN Dashboard
    link(rel='stylesheet' href='/css/dash.css')
  body
    nav.navbar
      .brand-name
        h1 HAPPY HOE GROCERY STORE
    .main-container
      .sidebar
          ul
            li
              a(href='/produceList')
                img(src='/images/adm.png' alt='')
                span PRODUCE LIST
            li
              a(href='/salesList')
                img(src='/images/man.png' alt='')
                span CASH LIST
            li
              a(href='/viewstock')
                img(src='/images/agent.png' alt='')
                span STOCK STATUS
            li
              a(href='/')
                img(src='/images/logout.png' alt='')
                span LOG OUT
    .container
      .content
        .cards
          a.card-link(href='/makeSale')
            .card
              .box
                h2 MAKE CASH SALE
          a.card-link(href='/debit')
            .card
              .box
                h2 MAKE CREDIT SALE
          a.card-link(href='/produceList')
            .card
              .box
                h2 PRODUCE LIST
        .cards
          a.card-link(href='/salesList')
            .card
              .box
                h2 CASH SALES LIST
          a.card-link(href='/creditList')
            .card
              .box
                h2 CREDIT SALES LIST
          a.card-link(href='/')
            .card
              .box
                h2 LOG OUT
