meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Document
link(rel="stylesheet", href="login.css")
.bg-img
  .container
    h1#ag LOGIN FORM
    form#form.form(action="#" method = "post")
      label(for="email") E-mail:
      input#email(type="email", name="email")
      br
      label(for="password") Password
      input#password(type="password", name="password")
      br
      button.button#submit(type="submit") LOGIN
script(src="login.js")