doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Produce Sales Form
  link(rel='stylesheet' href='/css/sales.css')
nav.navbar
  .logo
    img(src='/img/logo1.png' alt='Logo')
  .brand-name
    h1 Happy Hoe Grocery Store
br
br
br
form#Form(action='/makeSale' method='POST' name='sales')
  h1 Sales Form
  .form-container
    .form-group
      label(for='') Name of Produce:
      select#produceName(name='produceName')
        option(value='') Select produce
        option(value='Beans') Beans
        option(value='Maize') Maize
        option(value='Rice') Rice
        option(value='Soyabeans') Soyabeans
        option(value='Cowpeas') Cowpeas
        option(value='Gnuts') G-nuts
    .form-group
      label(for='tonnage') Tonnage (kgs):
      input#tonnage(type='number' name='tonnage')
    .form-group
      label(for='amountPaid') Amount Paid (UGX per kg):
      input#amountPaid(type='text' name='amountPaid')
    .form-group
      label(for='buyerName') Buyer's Name:
      input#buyerName(type='text' name='buyername')
    .form-group
      label(for='salesAgentName') SalesAgent's Name:
      input#salesAgentName(type='text' name='salesagent')
    .form-group
      label(for='branch') Branch Name:
      select#branch(name='branch')
        option(value='') Select Branch
        option(value='Maganjo') Maganjo
        option(value='Matugga') Matugga
    .form-group
      label(for='dateTime') Date and Time:
      input#dateTime(type='datetime-local' name='dateTime')
    .form-group
      label(for='totalpayment') Total Payment:
      input#totalpayment(type='number' name='totalpayment')  
      br
      br
  button(type='submit') MakeSale
script(src='/js/ddd.js')


//- doctype html
//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport" content="width=device-width, initial-scale=1.0")
//-     title Sales Records Management
//-     link(rel="stylesheet" href="/css/make_sale.css")
//-   body
//-     .bg-img
//-       .container
//-         h1#im SALES RECORDS
//-         form#sales-form.sales-form(action='/makeSale' method='POST' name='sales')
//-           table
//-             tr
//-               td
//-                 label(for="produceName") Produce Name:
//-               td
//-                 select#produceName(name="produceName")
//-                   option(value="") Select Produce
//-                   option(value="Beans") Beans
//-                   option(value="Maize") Maize
//-                   option(value="Rice") Rice
//-                   option(value="Soyabeans") Soyabeans
//-                   option(value="Cowpeas") Cowpeas
//-                   option(value="Gnuts") G-nuts
//-             tr
//-               td
//-                 label(for="produceType") Produce Type:
//-               td
//-                 select#produceType(name="produceType")
//-                   option(value="") Select Produce Type
//-                   option(value="Cereals") Cereals
//-                   option(value="Legumes") Legumes
//-             tr
//-               td
//-                 label(for="tonnage") Tonnage (kg):
//-               td
//-                 input(type="number" id="tonnage" name="tonnage")
//-             tr
//-               td
//-                 label(for="produceCost") Cost Per Kg (UGX):
//-               td
//-                 input(type="number" id="produceCost" name="produceCost")
//-             tr
//-               td
//-                 label(for="amountPaid") Amount Paid (UGX):
//-               td
//-                 input(type="number" id="amountPaid" name="amountPaid")
//-             tr
//-               td
//-                 label(for="buyerName") Buyer's Name:
//-               td
//-                 input(type="text" id="buyerName" name="buyerName")
//-             tr
//-               td
//-                 label(for="salesAgentName") Sales Agent's Name:
//-               td
//-                 input(type="text" id="salesAgentName" name="salesAgentName")
//-             tr
//-               td
//-                 label(for="branch") Branch:
//-               td
//-                 select#branch(name="branch")
//-                   option(value="") Select Branch
//-                   option(value="Maganjo") Maganjo
//-                   option(value="Matugga") Matugga
//-             tr
//-               td
//-                 label(for="date") Date:
//-               td
//-                 input(type="date" id="date" name="date")
//-             tr
//-               td
//-                 label(for="time") Time:
//-               td
//-                 input(type="time" id="time" name="time")
//-             tr
//-               td(colspan="2")
//-                 button.button(type="submit") Add Sale
//-     script(src='/js/make_sale.js')
                                     