block content 
   section.lib 
     .container 
        h2 Thank you for shopping withus 
        p Produce Name: #{sale.produceName.produceName}
        p Tonnage: #{sale.saleTonnage}
        p Amount Paid: 
        p Sales Agent: #{sale.salesAgent.username}
        p 
          a(href="/salesList") Back