doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Credit Sales Form
    link(rel='stylesheet' type='text/css' href='/css/credit.css')
  body
    nav.navbar
      .brand-name
        h1 HAPPY HOE GROCERY STORE
    .main-container
      .sidebar
        ul
          li CREDIT SALE
          li CREDIT LIST
          li STOCK STATUS
          li PRODUCE LIST
          li LOG OUT
      .form-section
        .form-container
          .form-header
            h1 CREDIT SALES FORM
          form(name='salesForm', onsubmit='return validateForm()', action=`/debit/${produce ? procure._id : ''}` method='POST')
            .form-row
              .form-column
                .form-group
                  label(for='produceName') Produce Name:
                  select#produceName.form-control(name='produceName')
                    option(value='') Select Produce
                    option(value='Rice') Rice
                    option(value='Beans') Beans
                    option(value='Maize') Maize
                    option(value='Cowpeas') Cowpeas
                    option(value='Soyabeans') Soyabeans
                    option(value='Gnuts') G-nuts
                .form-group
                  label(for='produceType') Type of Produce:
                  select#produceType.form-control(name='produceType')
                    option(value='') Select Produce Type
                    option(value='Cereals') Cereals
                    option(value='Legumes') Legumes
                .form-group
                  label(for='buyerName') Buyer Name:
                  input#buyerName.form-control(type='text' name='buyerName')
                .form-group
                  label(for='tonnage') Tonnage:
                  input#tonnage.form-control(type='number' name='tonnage')
                .form-group
                  label(for='produceCost') Cost Per Kg (UGX):
                  input#produceCost.form-control(type='text' name='produceCost')
              .form-group
                label(for='totalpayment') Total Payment:
                input#totalpayment(type='number' name='totalpayment')  
              .form-column
                .form-group
                  label(for='contacts') Buyer's Contact:
                  input#contacts.form-control(type='text' name='contact')
                .form-group
                  label(for='date') Date of Sale:
                  input#date.form-control(type='date' name='date')
                .form-group
                  label(for='time') Time:
                  input#time.form-control(type='time' name='time')
                .form-group
                  label(for='branch') Branch Name:
                  select#branch.form-control(name='branch')
                    option(value='') Select Branch
                    option(value='Maganjo') Maganjo
                    option(value='Matugga') Matugga
                .form-group
                  label(for='salesAgent') Sales Agent Name:
                  input#salesAgent.form-control(type='text' name='salesagent')
            .submit
              button(type='submit') Submit
          #result
    script(src='/js/credit.js')
