<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Add Bootstrap CSS link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/status.css">
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="/public/images/logo.mp4" type="video/mp4">
        <!-- Your browser does not support HTML5 video. -->
    </video>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="/public/images/beans.jpg" class="card-img-top" alt="Beans">
                    <div class="card-body">
                        <h5 class="card-title">BEANS</h5>
                        <p class="card-text">114 TONNES</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/public/images/maize.webp" class="card-img-top" alt="Maize">
                    <div class="card-body">
                        <h5 class="card-title">MAIZE</h5>
                        <p class="card-text">101 TONNES</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/public/images/soya.jpg" class="card-img-top" alt="Soya">
                    <div class="card-body">
                        <h5 class="card-title">SOYABEANS</h5>
                        <p class="card-text">80 TONNES</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/public/images/rice.jpg" class="card-img-top" alt="Rice">
                    <div class="card-body">
                        <h5 class="card-title">RICE</h5>
                        <p class="card-text">60 TONNE</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/public/images/g-nuts.jpeg" class="card-img-top" alt="Groundnuts">
                    <div class="card-body">
                        <h5 class="card-title">GROUNDNUTS</h5>
                        <p class="card-text">90 TONNES</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/public/images/cowpeas.jpg" class="card-img-top" alt="Cowpeas">
                    <div class="card-body">
                        <h5 class="card-title">COWPEAS</h5>
                        <p class="card-text">50 TONNES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/views/login.html" class="btn">LOGIN</a>
    <!-- Add Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>