meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Manager's Produce Records
link(rel="stylesheet", href="/css/stock.css")
.bg-img
  .container
    h1#ab PROCUREMENT RECORDS
    form#produce-form(action="/addProduce" method="POST")
      table
        tbody
          tr
            td
              label(for="produceName") Produce Name:
            td
              input#produceName(type="text", name="produceName", required)
          tr
            td
              label(for="produceType") Produce Type:
            td
              input#produceType(type="text", name="typeOfProduce", required)
          tr
            td
              label(for="date") Date:
            td
              input#date(type="date", name="date", required)
          tr
            td
              label(for="time") Time:
            td
              input#time(type="time", name="time", required)
          tr
            td
              label(for="tonnage") Tonnage (kg):
            td
              input#tonnage(type="number", name="tonnage", required, min="1000")
          tr
            td
              label(for="cost") Cost (UGX):
            td
              input#cost(type="number", name="cost", required, min="10000")
          tr
            td
              label(for="dealerName") Name of Dealer:
            td
              input#dealerName(type="text", name="dealerName", required)
          tr
            td
              label(for="branchName") Branch Name:
            td
              select#branchName(name="branchName", required)
                option(value="Maganjo") Maganjo
                option(value="Matugga") Matugga
          tr
            td
              label(for="contact") Contact:
            td
              input#contact(type="tel", name="contact", required)
          tr
            td(colspan="2")
              button.button(type="submit") Add Produce
script(src="/stock/stock.js")
