meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
title Document

// Add Bootstrap CSS link
link(href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css", rel="stylesheet")
link(rel="stylesheet", href="/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.css")
link(rel="stylesheet", href="/css/status.css")
video#myVideo(autoplay, muted, loop)
  source(src="/images/logo.mp4", type="video/mp4")
.container
  .row.row-cols-1.row-cols-md-3.g-4
    each item in procure
      .col
        .card.h-100
          img.card-img-top(src=`/images/${item.produceName.toLowerCase()}.jpg`, alt=item.produceName)
          .card-body
            h5.card-title #{item.produceName.toUpperCase()}
            p TOTAL STOCK: #{item.stock || 0} kg

a.btn(href="/login") LOGIN

// Add Bootstrap JS and Popper.js
script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js")
