<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/css/welcome.css">
</head>
<body>

<div class="bg-image img1 visible"></div>           
<div class="bg-image img2"></div>
<div class="bg-image img3"></div>
<div class="bg-image img4"></div>
<div class="bg-image img5"></div>
<div class="bg-image img6"></div>

<div class="bg-text">HAPPY HOE GROCERY STORE</div>
<h1 id="ab">Your Number One Leading Groceries Supplier At Affordable Prices.</h1>
<a href="/views/status.html" class="btn">STOCK STATUS</a>
<a href="/views/login.html" class="btn1"></a>
<script src="/public/js/welcome.js"></script>
</body>
</html>
