meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="/css/welcome.css")
.bg-image.img1.visible
.bg-image.img2
.bg-image.img3
.bg-image.img4
.bg-image.img5
.bg-image.img6
.bg-text HAPPY HOE GROCERY STORE
h1#ab Your Number One Leading Groceries Supplier At Affordable Prices.
a.btn(href="/stock") STOCK STATUS
a.btn1(href="/login")
script(src="/js/welcome.js")

//- we link to a route